<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<body>
    <div class="jumbotron3 jumbotron-fluid">
      <div class="container">
        <h1 class="display-4" style="color:#51344D;"/>Historique d'achat</h1>
      </div>
    </div>
<br><br>

<div class="container">
<%= @orders.each do |order| %>
	<table id="order" class="table table-hover table-condensed"  style="background-color:#F4F2F2; border-radiux:9px;">
            <thead>
            
						<tr>
							<th style="width:50%; color:#635255; font-family: 'Hammersmith One', sans-serif;">Produits</th>
							<th style="width:10%; color:#635255; font-family: 'Hammersmith One', sans-serif;">Prix</th>
						</tr>
					</thead>
					<tbody>
            <tr>
            <%= order.items.each do |item| %>
							<td data-th="Product">
								<div class="row">
										<div class="col-sm-2 hidden-xs"></div>
										<div class="col-sm-2 hidden-xs"></div>
									<div class="col-sm-10">
										<h4 class="nomargin"><%=item.title%></h4>
										<p></p>
									</div>
								</div>
              </td>
              <td data-th="Price"><%= item.price%></td>
						</tr>
            <div class="go-back" style="display:flex;justify-content:center;">
              <td><a href="/items" class="btn btn-sm btn-outline-secondary">Continuer à shopper</a></td>
            </div>
          </tbody>
          <%end%>
          <%end%>
					<tfoot>
				</tfoot>
			</table>
    </div>
  </body>
</html>




