<body>
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
              <img height="30px" width="30px" src="https://image.flaticon.com/icons/svg/2111/2111615.svg" alt="slack"><h5 class="card-title text-center">Contactez-nous!</h5>
              <hr>
              <h2 class="title is-5">Téléphone :</h2>
              <p>0969 36 20 06 (appel non surtaxé)</p>
              <p>Ouvert du lundi au vendredi de 8h à 20h30</p>
              <p>Samedi de 8h à 19h</p>
              <p>Dimanche de 9h à 18h</p>
              <br><hr>
              <h2 class="title is-5">Email :</h2>
              <p>AtomicKittenTHP@gmail.fr</p>
              <p>Réponse envoyée :</p>
              <p>Lundi au vendredi de 8h à 20h30</p>
              <p>Samedi de 10h à 18h</p>
              <br><hr>
              <h2 class="title is-5">Don :</h2>
              <p>Ouvert 24h/24h 7j/7j</p>
              <p>Faites vous plaisir en nous faisant plaisir !</p>
              <p>Payez nous un grec &#x1F603;</p>
              <p>Lydia : 06 37 10 21 50<p>
              <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
