<body>
  <div class="jumbotron"style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 40%,rgba(255,255,255,0.5) 100%), url(https://images.pexels.com/photos/730896/pexels-photo-730896.jpeg?auto=compress&cs=tinysrgb&h=650&w=940)"><br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h1 class="display-4">Atomic Kitten</h1>
          <p class="lead">Vous-êtes en manque d'amour ?</p>
          <hr class="my-4">
          <p>Commander dès maintenant les photos de châton les plus mignonnes de votre région !</p><br>
          <a class="btn btn-light btn-lg" href="#" role="button">Show Room</a>
        </div>
      </div>
    </div>
  </div>
   <section class="hero is-small is-black text-center">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-4"> Gallerie :</h1>
      </div>
    </div>
  </section>

  <div class="container">

    <div class="row text-center text-lg-left">

      <% @items.each do |item|%>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="<%=item_path(item.id)%>" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src='<%= item.image_url %>' alt="">
          </a>
        </div>
      <% end %>

    </div>
    
  </div>

</body>
