<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

<div class="jumbotron"style=" background-attachment: fixed; background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 50%,rgba(255,255,255,0.5) 100%), url(https://images.pexels.com/photos/730896/pexels-photo-730896.jpeg?auto=compress&cs=tinysrgb&h=650&w=940)"><br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h1 class="ml12">Atomic Kitten</h1>
          <hr class="my-4">
          <p class="lead jumbo">Vous êtes en manque d'amour ?</p><br>
          <p class="jumbo">Commandez dès maintenant les photos de chatons les plus mignonnes de votre région !</p><br>
          <a class="btn btn-secondary btn-lg"  href="items" role="button" style="color:#DABECA;">Showroom</a>
        </div>
      </div>
    </div>
  </div>

  <section class="hero is-small is-light text-center">
    <div class="hero-body">
      <div class="container">
        <h1 style="color:#635255; font-size:30px;font-family: 'Hammersmith One', sans-serif;"><img height="40px" width="40px" src="https://image.flaticon.com/icons/svg/107/107990.svg"> Bienvenue</h1>
      </div>
    </div>
  </section>

  <div class="container"><br>
    <div class="row">
      <div class="col-sm text-center">
        <img height="100px" width="100px" src="https://image.flaticon.com/icons/svg/1669/1669730.svg">
        <h4 class="title is-4">Photos</h4>
        <p>Des images de chaton de qualité par des photographes talentueux !</p>
        <a href="https://www.instagram.com/cats_of_instagram/">Voir le Showroom</a>
      </div>
      <div class="col-sm text-center">
        <a href="https://www.instagram.com/cats_of_instagram/"><img height="100px" width="100px" src="https://image.flaticon.com/icons/svg/1384/1384073.svg"></a>
        <h4 class="title is-4">Instagram</h4>
        <p>Une page Instagram dédiée, des chatons tous les jours avec une communautée active et adorable !</p>
        <a href="https://www.instagram.com/cats_of_instagram/" target="#_blank">InstaCats</a>
      </div>
      <div class="col-sm text-center">
        <img height="100px" width="100px" src="https://image.flaticon.com/icons/svg/1669/1669736.svg">
        <h4 class="title is-4">Téléchargement</h4>
        <p>Parcourez nos photos, ajoutez vos coup de coeur au panier, et retrouvez les ensuite en HD sur votre cloud préferé !</p>
        <a href="/mon_panier">Mon panier</a>
      </div>
    </div>
  </div><br>

  <section class="hero is-small is-light text-center">
    <div class="hero-body">
      <div class="container">
        <h1 style="color:#635255; font-size:30px;font-family: 'Hammersmith One', sans-serif;"> Gallerie <img height="50px" width="50px" src="https://image.flaticon.com/icons/svg/107/107973.svg"></h1>
      </div>
    </div>
  </section>
  <br>

  <div class="container">

    <div class="card-columns">

      <% @items.each do |item|%>
          <a href="<%=item_path(item.id)%>" class="d-block mb-8">
            <img class="img-fluid img-thumbnail" src='<%= item.image_url %>' alt="">
          </a>

      <% end %>

    </div>

  </div><br>

<script>
// Wrap every letter in a span
var textWrapper = document.querySelector('.ml12');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.ml12 .letter',
    translateX: [40,0],
    translateZ: 0,
    opacity: [0,1],
    easing: "easeOutExpo",
    duration: 1200,
    delay: (el, i) => 500 + 30 * i
  }).add({
    targets: '.ml12 .letter',
    translateX: [0,-30],
    opacity: [1,0],
    easing: "easeInExpo",
    duration: 1100,
    delay: (el, i) => 100 + 30 * i
  });
</script>

</body>
