<br><br><br><br>
<div class="jumbotron5 jumbotron-fluid text-center">
  <div class="container">
    <h2 class="display-2">
    <img height="40px" width="40px" src="https://image.flaticon.com/icons/svg/107/107975.svg">
    Atomic Kitten
    <img height="40px" width="40px" src="https://image.flaticon.com/icons/svg/107/107972.svg">
    </h2>
  </div>
</div>
<hr>
<!-- Page Content -->
<div class="container">
  <div class="row">

    <!-- Team Member 1 -->
    <div class="col-sm">
      <div class="card border-0 shadow">
        <img src="https://ca.slack-edge.com/T3W8B88JW-UNULL7KCY-b74afc40bfc2-512" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Anthony Phimphachanh</h5>
          <div class="card-text text-black-50">Back Developer</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-sm">
      <div class="card border-0 shadow">
        <img src="https://ca.slack-edge.com/T3W8B88JW-UNFT5MRJN-e4ecd5c7130d-512" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Anthony De Louvencourt</h5>
          <div class="card-text text-black-50">Back Developer</div>
        </div>
      </div>
    </div>
  
      <!-- Team Member 3 -->
      <div class="col-sm">
        <div class="card border-0 shadow">
          <img src="https://ca.slack-edge.com/T3W8B88JW-UNWGCKQS3-ce47745744b6-512" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Leo Vanel</h5>
            <div class="card-text text-black-50">Back Developer</div>
          </div>
        </div>
      </div>

  </div><br>
    <!-- /.row -->
 
  <div class="row">

    <div class="col-md-2">
    
    </div>

    <!-- Team Member 4 -->
      <div class="col-sm">
        <div class="card border-0 shadow">
          <img src="https://ca.slack-edge.com/T3W8B88JW-UNFT5KM7U-d1b32148f0d4-512" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Lana Vizeu Oliveira</h5>
            <div class="card-text text-black-50">Front Developer</div>
          </div>
        </div>
      </div>
    
    <!-- Team Member 5 -->
      <div class="col-sm">
        <div class="card border-0 shadow">
          <img src="https://ca.slack-edge.com/T3W8B88JW-UNFT5KXA6-ffe153434d6c-512" class="card-img-top size" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Thibault Mariolle</h5>
            <div class="card-text text-black-50">Front Developer</div>
          </div>
        </div>
      </div>

    <div class="col-md-2">
    
    </div>

    </div>
  </div>

<br><br>
<!-- /.container -->
