<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut Administrateur<%= %> une nouvelle commande a été passé</h1>
    <p>
      Une commande a été passé chez <%=@url%> avec l'e-mail suivant : <%=@email%>.
    </p>
    <p>

    </p>
    <p>
      Pour accéder à ton espace client et commander de nouvelles photos, connecte-toi via : <%=@url%>/login.
    </p>
    <p> À très vite sur Chaton-mignon.fr !
  </body>
</html>
<!--Il faut envoyer un email à l'administrateur du site (email décidé arbitrairement en attendant la classe "admin"), qui fait un récapitulatif de la commande qui vient d'être faite.-->