<br><br><br>

  <section class="hero is-small is-light text-center">
    <div class="hero-body">
      <div class="container text-center">
        <h1 style="color:#635255; font-size:30px;font-family: 'Hammersmith One', sans-serif;"> Showroom :</h1>
      </div>
    </div>
  </section><br>

<div class="container text-center">

  <div class="card-columns">

    <% @items.each do |item|%>
      <div class="card h-60 shadow-lg">
        <div class="card-body" style="background-color:#E2E0E0;">
          <h1 class="card-title text-center" style="color:#635255; font-size:17px;font-family: 'Hammersmith One', sans-serif;"><em><strong><%= item.title %></strong></em></h1>
          <a href="<%= item_path(item.id) %>" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src='<%= item.image_url %>' alt="">
          </a>
        </div>

        <div class="card-footer" style="background-color:#E2E0E0; display:flex;justify-content:center;">
          <div class="actions">
            <%= link_to "Plus d'infos", item_path(item.id), :class => "btn btn-outline-secondary" %>
          </div>
        </div>

      </div>
    <% end %>

  </div>

</div>
